<h1>New Entry for <%= @place.name %></h1>

<form action="/entries" method="post">
  <input type="hidden" name="place_id" value="<%= @place.id %>">

  <p>
    <label for="title">Title</label><br>
    <input type="text" id="title" name="title">
  </p>

  <p>
    <label for="occured_on">Date</label><br>
    <input type="date" id="occurred_on" name="occurred_on">
  </p>

  <p>
    <label for="description">Description</label><br>
    <textarea id="description" name="description" rows="5" cols="40"></textarea>
  </p>

  <button type="submit">Save Entry</button>
</form>

<br>
<p><a href="/places/<%= @place.id %>">Cancel and return to <%= @place.name %></a></p>