<h1>New Place</h1>

<form action="/places" method="post">
  <p>
    <label for="name">Name</label>
    <input type="text" id="name" name="name">
  </p>
  
  <button type="submit">Save Place</button>
</form>

<br>
<p><a href="/places">Cancel and return to places</a></p>